<template>
	<lightning-input label="Upload File" name="file uploader" onchange={handleFilesChange} type="file" accept=".csv">
	</lightning-input>
	<div class="slds-text-body_small slds-text-color_error">
        {fileName}
	</div>
	<lightning-button class="slds-m-top--medium" label='Upload' variant="brand" onclick={handleSave} disabled={isTrue}>
	</lightning-button>
</template>